@charset "utf-8";

body
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {


	background-color: lightcyan;
}

img{
	width: 500px;
}

img:hover {
	border: dotted gray 5px;
	border-radius: 80%;
	width: 500px;
}

h2{
	letter-spacing: 1px;
		word-spacing: 2px;
	text-shadow: 1px 2px 1px pink
}
